h1 {
    color:aliceblue;
}

h2 {
    color:aliceblue;
}

p {
    color:aliceblue;
}

img {
    height: auto;
    border-color: rgb(0, 225, 255);
    border-radius: 50%;
    max-width: 20%;
    border-style:double;
}

body {
    background-image: none;
    background-color:rgb(12, 1, 36);
    background-position: center;
    background-size: 100%;
}




